<div class="page" id="remotecontrol">
	<div id="help" mn-touch swipe-left="next()" mn-touch secure-tap="next()" mn-touch swipe-right="prev()">
		<div id="next"><img src="img/next.jpg" alt=""></div>
		<div style="display:none;" id="prev"><img src="img/prev.jpg" alt=""></div>
		<div style="display:none;" id="up"><img src="img/up.jpg" alt=""></div>
		<div style="display:none;" id="down"><img src="img/down.jpg" alt=""></div>
		<div style="display:none;" id="heart"><img src="img/heart.jpg" alt=""></div>
		<div style="display:none;" id="end" mn-touch secure-tap="tv()" mn-touch swipe-left="tv()"><img src="img/end.jpg" alt=""></div>
	</div>
	<div id="morelinks" ng-show="morelinks">
		<p><a href="http://hamsta.us" target="_blank" id="hamsta">About hamsta</a></p>
		<p><a href="http://22-8miles.com" target="_blank" id="creator">About creator</a></p>
	</div>
	<div id="cartcontents">
	<p ng-show="empty">Your cart is empty.</p>
	<table ng-hide="empty">
		<tr>
			<th>Product</th>
			<th>Price</th>
		</tr>
		<tr ng-repeat="item in content">
			<td style="width: 50%"><img src="{{item.img}}" alt=""></td>
			<td style="width: 50%">${{item.price}}</td>
		</tr>
	</table>
	<p ng-hide="empty">Total ${{total}}<button><a href="https://www.amazon.com/ap/signin/182-5477095-6445508?_encoding=UTF8&openid.assoc_handle=anywhere_v2_us&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.mode=checkid_setup&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.ns.pape=http%3A%2F%2Fspecs.openid.net%2Fextensions%2Fpape%2F1.0&openid.pape.max_auth_age=0&openid.return_to=https%3A%2F%2Fwww.amazon.com%3F_encoding%3DUTF8%26ref_%3Dgno_mob_top" target="_blank">BUY</a></button></p>
	</div>
<!-- 	<div id="instructions"></div> -->
	<div id="toucharea" style="display:none;"
	mn-touch swipe-left="minus()"
	mn-touch swipe-up="up()"
	mn-touch swipe-down="down()"
	mn-touch swipe-right="plus()"
	mn-touch secure-tap="heart($event)">
	<p style="font-size: 8vw;">Swipe in any direction<br>or tap.</p>
	</div>
	<div id="navigation">
		<div class="inactive" id="turnofficon" ng-click="turnoff()"><img src="img/turnoff.png" alt="turnoff"></div>
		<div class="inactive" id="tvicon" ng-click="tv()"><img src="img/tv.png" alt="tv"></div>
		<div id="viewcarticon" ng-click="viewcart()"><img src="img/cart_white.png" alt="cart"></div>
		<div class="" id="helpicon" ng-click="help()"><img src="img/help.png" alt="help"></div>
		<div class="inactive" id="moreicon" ng-click="more()"><img src="img/more.png" alt="more"></div>
	</div>
</div>