<div class="page" id="tv">
		<div id="comments"><div id="list"></div></div>
		<div id="channel"></div>
		<div id="volume"></div>
		<div id="viewcount"></div>
		<div id="heartContainer"></div>
		<button id="cart" style="right:20px !important">Cart<span id="cartCount"> ( {{cartarray.length}} )</span></button>
		<div id="forsale"></div>
		<div id="overlay">
			<p id="listtitle" style="text-align: left;">Your Shopping Cart</p>
			<button id="close">X</button>
			<ul id="shoplist"></ul>
			<div id="total"></div>
		</div>
		<progress-bar data="time"></progress-bar>
		<line-chart data="shared.ourData"></line-chart>
		<youtube-video class="youtube" player-vars="playerVars" video-id="theBestVideo" player="bestPlayer"></youtube-video>
</div>